.text_color{
    animation: pinpoint;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}


@keyframes pinpoint {
    0%  {color: aqua;}
    20% {color: rgb(255, 136, 0);}
    40%  {color: rgb(235, 9, 235);}
    60%  {color: rgb(8, 8, 8);}
    80%  {color: rgb(255, 0, 0);}
    100% {color: rgb(97, 8, 90);}
  }